.brands{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 500px;
}
.brands div{
  text-align: center;
  margin: 1em;
}

.brands img{
  width: 250px;
  height: 250px;
}

